<template>
  <v-card>
    <div class="pa-3">
      <v-img
        :src="image"
        :lazy-src="'@/assets/logo.png'"
        height="125"
        contain
      />
    </div>

    <v-card-title>
      <v-spacer/>
      <span class="d-inline-block text-truncate">
        {{title}}
      </span>
      <v-spacer/>
    </v-card-title>

    <v-card-text>
      <div class="text-capitalize">
        {{type}}
      </div>
      <div>
        Quantity Sold: {{quantitySold}}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import currency from '@/filters/currency';

export default {
  name: 'CardItem',
  components: { },
  props: {
    title: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    quantitySold: {
      type: [Number, String],
      required: true,
    },
    variant: {
      type: String,
      required: true,
    },
    price: {
      type: [Number, String],
      required: true,
    },
  },
  data() {
    return { };
  },
  filters: { 
    currency,
  },
  methods: { },
  async created() { },
};
</script>