<template>
  <v-row class="pa-6">
    <v-col cols="3">
      <div class="pa-3">
        <v-img
          :src="image"
          :lazy-src="'@/assets/logo.png'"
          height="125"
          contain
        />
      </div>
    </v-col>

    <v-col cols="9" class="d-flex flex-column justify-space-between">
      <div class="text-truncate">
        <span class="font-weight-bold">{{title}}</span>
      </div>
      <div class="text-capitalize">
        {{type}}
      </div>
      <div>
        Quantity Sold: {{quantitySold}}
      </div>
    </v-col>
  </v-row>
</template>

<script>
import currency from '@/filters/currency';

export default {
  name: 'ListItem',
  components: { },
  props: {
    title: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    quantitySold: {
      type: [Number, String],
      required: true,
    },
    variant: {
      type: String,
      required: true,
    },
    price: {
      type: [Number, String],
      required: true,
    },
  },
  data() {
    return { };
  },
  filters: { 
    currency,
  },
  methods: { },
  async created() { },
};
</script>