<template>
  <div>
    Filter Results
    <br>
    Product Type
    <v-checkbox
      v-for="item in typeOptions" 
      v-model="types"
      :key="item.value"
      :label="item.name"
      :value="item.value"
      @change="change"
      hide-details
    />
    <br>
    Price Range
    <v-row>
      <v-col>
        <v-text-field
          v-model="price.min"
          :min="0"
          @input="change"
          label="Min"
          type="number"
          hide-details
        />
      </v-col>
      <v-col>
        <v-text-field
          v-model="price.max"
          :min="0"
          @input="change"
          label="Max"
          type="number"
          hide-details
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'FilterBar',
  components: { },
  data() {
    return { 
      types: [],
      typeOptions: [
        {
          name: 'Accessories',
          value: 'accessories',
        },
        {
          name: 'Baby essentials',
          value: 'baby essentials',
        },
        {
          name: 'Baby wipes',
          value: 'baby wipes',
        },
        {
          name: 'Diapers',
          value: 'diapers',
        },
        {
          name: 'Mums',
          value: 'mums',
        },
      ],
      price: {
        min: null,
        max: null,
      }
    };
  },
  filters: { },
  methods: { 
		change() {
      const filter = {
        types: this.types,
        price: this.price,
      };
			this.$emit('change', filter);
		},
  },
  async created() { },
};
</script>