<template>
  <v-row align="center" class="pa-6">
    <v-col>
    <div>
      Available Deals: {{availableDeals}}
    </div>
    </v-col>

    <v-col>
      <v-row align="center">
      <v-btn-toggle 
        v-model="display"
        @change="displayChange"
        mandatory
      >
        <v-btn
          v-for="item in displayOptions" :key="item.name"
          :value="item.value"
          icon
        >
          <v-icon>{{item.icon}}</v-icon>
        </v-btn>
      </v-btn-toggle>

      <v-select
        v-model="sort"
        :items="sortOptions"
        item-text="name"
        item-value="value"
        label="Sort results"
        @change="sortChange"
        class="pl-6"
        solo
        hide-details
      />
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'SortBar',
  components: { },
  props: {
    availableDeals: {
      type: Number,
      required: true,
    },
    displayType: {
      type: String,
    },
  },
  data() {
    return { 
      display: null,
      displayOptions: [
        {
          name: 'grid',
          value: 'grid',
          icon: 'mdi-view-grid',
        },
        {
          name: 'list',
          value: 'list',
          icon: 'mdi-format-list-bulleted-square',
        },
      ],
      sort: null,
      sortOptions: [
        {
          name: 'A-Z',
          value: 'A-Z',
        },
        {
          name: 'Price: High to Low',
          value: 'High to Low',
        },
        {
          name: 'Low to High',
          value: 'Low to High',
        },
      ],
    };
  },
  methods: { 
		sortChange() {
			this.$emit('sortChange', this.sort);
		},
		displayChange() {
			this.$emit('displayChange', this.display);
		},
  },
  async created() { 
    this.display = this.displayType;
  },
};
</script>