<template>
  <v-row class="pt-6">
    <v-col class="col-md-2 hidden-sm-and-down">
      <v-row justify="center">
        <v-col cols="9">
          <FilterBar
            @change="filter"
          />
        </v-col>
      </v-row>
    </v-col>

    <v-col class="pr-6 col-md-10">
      <v-row class="hidden-sm-and-down">
        <SortBar
          :availableDeals="availableDeals"
          :display-type="displayType"
          @sortChange="sortChange"
          @displayChange="displayChange"
        />
      </v-row>

      <v-row class="pa-2 hidden-sm-and-down">
        <v-divider/>
      </v-row>

      <v-row>
        <template v-if="displayType == 'grid'">
          <v-col 
            class="col-md-4 col-xs-12"
            v-for="item in productsList" 
            :key="item.variantId"
          >
            <ProductCardItem 
              :title="item.title"
              :type="item.productType"
              :image="item.image"
              :quantitySold="item.quantitySold"
              :variant="item.variantTitle"
              :price="item.variantPrice"
            />
          </v-col>
        </template>
        <template v-if="displayType == 'list'">
          <v-col 
            class="col-md-12"
            v-for="item in productsList" 
            :key="item.variantId"
          >
            <ProductListItem 
              class="white"
              :title="item.title"
              :type="item.productType"
              :image="item.image"
              :quantitySold="item.quantitySold"
              :variant="item.variantTitle"
              :price="item.variantPrice"
            />
            <v-divider/>
          </v-col>
        </template>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import ProductCardItem from '@/components/products/CardItem';
import ProductListItem from '@/components/products/ListItem';
import productService from '@/services/products';
import FilterBar from './ProductList/FilterBar';
import SortBar from './ProductList/SortBar';

export default {
  name: 'ProductList',
  components: {
    FilterBar,
    SortBar,
    ProductCardItem,
    ProductListItem,
  },
  data() {
    return { 
      productService: productService,
      displayType: 'grid',
      products: [],
      productsList: [],
      sort: null,
    };
  },
  computed: {
    availableDeals: function () {
      const offers = this.productsList.filter(item => item.isOffer);
      const quantity = offers.length;
      return quantity;
    }
  },
  methods: { 
    displayChange(value) {
      this.displayType = value;
    },
    sortChange(value) {
      this.sort = value;
      let productsList = this.productsList;
      if (value === 'A-Z') {
        productsList = productsList.sort(function(a, b){
          if(a.title < b.title) { return -1; }
          if(a.title > b.title) { return 1; }
          return 0;
        });
      }
      if (value === 'High to Low') {
        productsList = productsList.sort(function(a, b){
          return b.variantPrice - a.variantPrice;
        });
      }
      if (value === 'Low to High') {
        productsList = productsList.sort(function(a, b){
          return a.variantPrice - b.variantPrice;
        });
      }
      this.refreshLish(productsList);
    },
    filter(option) {
      const products = this.products;
      let productsList = products;
      if (option.types.length != 0) {
        const values = option.types;
        productsList = productsList.filter(item => {
          return values.includes(item.productType);
        });
      }
      if (option.price.min != null && option.price.min != '') {
        const value = option.price.min;
        productsList = productsList.filter(item => item.variantPrice >= value);
      }
      if (option.price.max != null && option.price.max != '') {
        const value = option.price.max;
        productsList = productsList.filter(item => item.variantPrice <= value);
      }

      this.refreshLish(productsList);
      if (this.sort) {
        this.sortChange(this.sort);
      }
    },
    refreshLish(products) {
      const productsList = [];
      products.forEach(product => {
        const item = productsList.find(item => product.id == item.id);
        if (!item) {
          productsList.push(product);
        }
      });
      this.productsList = productsList;
    }
  },
  async created() { 
    const products = await this.productService.fetchAll();
    this.products.push(...products);
    this.refreshLish(this.products);
  },
};
</script>