<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <v-spacer/>
    <h2>Welcome to the Mum's Deals Page!</h2>
    <v-spacer/>
  </v-app-bar>
</template>

<script>
export default {
  name: 'Header',
  components: { },
  data() {
    return { };
  },
  filters: { },
  methods: { },
  async created() { },
};
</script>