<template>
  <v-app>
    <Header/>

    <v-main>
      <ProductList class="grey lighten-4"/>
    </v-main>
  </v-app>
</template>

<script>
import Header from '@/components/Header';
import ProductList from '@/pages/ProductList';

export default {
  name: 'App',

  components: {
    Header,
    ProductList,
  },

  data: () => ({
    //
  }),
};
</script>
